<div style="padding-left: 20%; padding-right: 20%;" flex>
	<h1><b>Comprar ingresso(s)</b></h1>
	<h3><b>Filme:</b> {{filmeSelecionado.nome}}</h3>
	<div flex-xs flex-gt-xs="60" layout="row" >
		<h3><b>Data: </b></h3>
		<md-datepicker ng-model="dataSelecionada" md-min-date="dataAtual" md-max-date="dataAtual"
			md-placeholder="Enter date" style="margin-right:20px; margin-top:15px;"></md-datepicker>
		<h3><b>Horários: </b></h3>
		<md-select class="md-errors-spacer" style="margin-left:10px" ng-model="horarioSelecionado" placeholder="Selecione" id="selecionarSessao">
			<md-option ng-repeat="sessao in filmeSelecionado.sessoes" ng-value="sessao.horario" ng-click="selecionarSessao(sessao)" id="horarioSessao">
				{{formatarData(sessao.horario)}}
			</md-option>
		</md-select>
	</div>
	<div ng-show="horarioSelecionado">
		<h3>Selecione a(s) cadeira(s) desejada(s): </h3>
		</br>
		<form flex-xs flex-gt-xs="80" style="min-width: 850px;max-width: 850px;">
			<div id="wid">
				<img ng-repeat="cadeira in sessaoSelecionada.cadeiras" title="Numeração: {{cadeira.numeracao}}"
				 ng-click="selecionarCadeira(cadeira, sessaoSelecionada.cadeiras)" data-ng-src="{{getCorDeCadeira(cadeira)}}" id="selecionarCadeira">
			</div>
			<img style="margin-top:10px" src="images/tela.jpg">
		</form>
		</br>
		<div layout="row">
			<md-button style="height:30px;margin-top:-10px;margin-left:-2px" class="md-raised md-primary" ng-disabled="usuarioLogado==undefined || cadeirasSelecionadas.length===0" ui-sref="pagamento" id="realizarCompra">Realizar compra</md-button>
			<span ng-hide="usuarioLogado">
				Realize <a href="login" ng-hide="usuarioLogado" id="loginSelecionarCadeira">login</a> ou
				<a href="registro" ng-hide="usuarioLogado" id="registroSelecionarCadeira">cadastre-se</a> para realizar a compra.
			<span>
		</div>
	</div>
</div>
