<div layout="row">
	<div style="margin:0px auto">
	    <md-card layout="column" layout-align="center center" style="padding-bottom: 10px" >
	      <h1 style="margin-left:10px;margin-right:10px"><b>Filmes em destaque</b></h1></br>
	      <jk-carousel
	        data="filmesEmDestaque"
	        item-template-url="'item-template.html'"
	        max-width="258"
	        max-height="382"
	        auto-slide="true"
	        auto-slide-time="5000" >
	      </jk-carousel>
	    </md-card>
  	</div>
</div>
