<div ng-controller="homeCtrl" layout="row">
	<div style="margin:0px auto">
	    <md-card layout="column" layout-align="center center" style="padding-bottom: 10px" >
	      <h1>Filmes em destaque</h1>
	      <jk-carousel
	        data="filmesEmDestaque"
	        item-template-url="'item-template.html'"
	        max-width="800" 
	        max-height="500"
	        auto-slide="true"
	        auto-slide-time="5000" >
	      </jk-carousel>
	    </md-card>
	    <button ng-click="getSalas()">Testar GET</button>
  	</div>
</div>
