<div style="padding-left: 20%; padding-right: 20%;" flex>
	<h1>Pagamento</h1>
	<div>
		<md-content layout-gt-sm="row">
			<h3>Ingresso(s): </h3>
			<md-input-container>
		       	<label>Meia</label>
		       	<input ng-model="user.entradaMeia" type="number">
		    </md-input-container>
		    <md-input-container>
		       	<label>Inteira</label>
		       	<input ng-model="user.entradaInteira" type="number">
		    </md-input-container>
		</md-container>
	</div>
	<div>
		<h4>Seu pedido: {{user.entradaMeia+user.entradaInteira}} ingresso(s). Total R$ {{precoIngresso()}}</h4>
	</div>
	<form>
		<md-content layout-gt-sm="row">
			<md-input-container>
		       	<label>Nome Completo</label>
		       	<input ng-model="user.name">
		    </md-input-container>
		    <md-input-container>
		       	<label>Numero do Cartao</label>
		       	<input ng-model="user.numeroCartao">
		    </md-input-container>
		</md-content/>
		<md-content layout-gt-sm="row">
			<md-input-container>
		       	<label>Código de Segurança</label>
		       	<input ng-model="user.codigoDeSeguranca">
		    </md-input-container>
		    <md-input-container>
		       	<label>Validade</label>
		       	<input ng-model="user.validadeCartao">
		    </md-input-container>
		</md-content/>
	</form>
</div>