<div class="col-md-6 col-md-offset-3">
    <CENTER><h2><b>Pagamento</b></h2></CENTER>
    </br>
    <div>
		<md-content layout-gt-sm="row">
			<h3 style="margin-right: 10px"><b>Ingresso(s):</b></h3>
			<md-input-container>
		  	<label>Meia</label>
		  	<input ng-model="user.entradaMeia" type="number" min="0" id="entradaMeia">
		  </md-input-container>
		  <md-input-container>
		  	<label>Inteira</label>
		    <input ng-model="user.entradaInteira" type="number" min="0" id="entradaInteira">
		  </md-input-container>
		</md-container>
	</div>
	<div>
		<h4><b>Seu pedido:</b> {{user.entradaMeia+user.entradaInteira}} ingresso(s). Total de R$ {{precoIngresso()}}</h4>
		</br>
	</div>
    <form name="form" ng-submit="comprarIngressos()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.nome.$dirty && form.nome.$error.required }">
            <label for="nome">Nome completo</label>
            <input type="text" name="nome" id="nome" class="form-control" ng-model="user.nome" required />
            <span ng-show="form.nome.$dirty && form.nome.$error.required" class="help-block">Nome obrigatório</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.numeroCartao.$dirty && form.numeroCartao.$error.required }">
            <label for="numeroCartao">Numero do Cartao</label>
            <input type="text" name="numeroDoCartao" id="numeroCartao" class="form-control" ng-model="user.numeroCartao" required />
            <span ng-show="form.numeroCartao.$dirty && form.numeroCartao.$error.required" class="help-block">Número do cartão obrigatório</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.codigoDeSeguranca.$dirty && form.codigoDeSeguranca.$error.required }">
            <label for="email">Código de Segurança</label>
            <input type="text" name="codigoDeSeguranca" id="codigoDeSeguranca" class="form-control" ng-model="user.codigoDeSeguranca" required />
            <span ng-show="form.codigoDeSeguranca.$dirty && form.codigoDeSeguranca.$error.required" class="help-block">Codigo de seguranca obrigatório</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.validadeCartao.$dirty && form.validadeCartao.$error.required }">
            <label for="validadeCartao">Ano de Validade</label>
            <input type="text" name="validadeCartao" id="validadeCartao" class="form-control" ng-model="registro.validadeCartao" required />
            <span ng-show="form.validadeCartao.$dirty && form.validadeCartao.$error.required" class="help-block">Ano de validade obrigatória</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary" id="realizarCompraPagamento">Realizar Compra</button>
            <a href="#!/filmes" class="btn btn-link" id="cancelar">Cancelar</a>
        </div>
    </form>
</div>
