 <div style="padding-left: 20%; padding-right: 20%;" flex>
 	<h1> Registro </h1>
  <form name="registroForm">
    <md-content flex>
      <div>
        <md-input-container class="md-block">
          <label>Nome</label>
          <input required ng-model="registro.nome">
        </md-input-container>

        <md-input-container class="md-block">
          <label>E-mail</label>
          <input required ng-model="registro.email">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Senha</label>
          <input required type="password" ng-model="registro.senha">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Repita a Senha</label>
          <input required type="password" ng-model="registro.repetirSenha">
        </md-input-container>

        <md-input-container class="md-block">
          <label>CPF</label>
          <input required ng-model="registro.cpf">
        </md-input-container>
      </div>

      <div class="md-padding" id="popupContainer">
        <md-input-container class="md-block">
          <md-checkbox name="tos" ng-model="project.tos" required>
            Eu estou de acordo com os <a id="termos" ng-click="showAlert($event)" >termos de uso.</a>
          </md-checkbox>
          <div ng-messages="projectForm.tos.$error" multiple md-auto-hide="false">
            <div ng-message="required">
              Para prosseguir você deve concordar com os termos de uso.
            </div>
          </div>
        </md-input-container>
      </div>
    </md-content>
  </form>
  <md-button class="animation-target md-primary md-raised" ng-click="registrar()" ng-disabled="registroForm.$invalid">
    Registrar
  </md-button>

</div>
