body {
	background-color: #FFFFFF; 
	padding: 20px;
}

h2 {
	color: #000000;
	font-family: Arial;
}

p {
  text-align: justify;
}

figure {
    border: 1px solid #dddddd;
    padding: 5px;
}

md-card {
  margin: auto;
  left: 0;
  right: 0;
  margin-bottom: 20px;
}

.md-dialog-container {
  position: absolute;
}

md-dialog {
  max-width: 90%;
  max-height: 90%;
}

.center {
  text-align: center;
}

#wid {
  column-width: 50px;
}

#centralizar{
  width: 50%;
  margin: 0 auto;
}

body {
  background-color: #f1f1f1;
  font-family: Helvetica,Arial,Verdana;

}
h1 {
  color: green;
  text-align: center;
}
.redfamily {
  color: red; 
}
.search-box,.close-icon-search,.search-wrapper {
  position: relative;
  padding: 10px;
}
.search-wrapper {
  width: 250px;
  margin-right: -60px;
  margin-top: 5px;
}
.search-box {
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 15px;
  height: 35px; 
  width:250px
}

.search-box:focus {
  box-shadow: 0 0 15px 5px #b0e0ee;
  border: 2px solid #bebede;
}

.close-icon-filter {
  border:1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon-filter:after {
  content: "X";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #FA9595;
  border-radius: 50%;
  color: white;
  font-weight: normal;
  font-size: 12px;
  box-shadow: 0 0 2px #E50F0F;
  cursor: pointer;
}

.close-icon-search {
  border:1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.close-icon-search:after {
  content: "X";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #FA9595;
  z-index:1;
  right: 35px;
  top: 4;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
  box-shadow: 0 0 2px #E50F0F;
  cursor: pointer;
}

.search-box:not(:valid) ~ .close-icon-search {
  display: none;
}

